@{
    ViewData["Title"] = "Home Page";
}
<div class="">
    <div ng-app="app">
        <div class="body-content">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div ng-controller="Candidate as vm" class="col-md-6">
                        <candidate-step candidate-controller="vm"></candidate-step>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script src="~/js/Candidate.js"></script>
    <script src="~/js/Address.js"></script>
    <script src="~/js/Skill.js"></script>
    <script src="~/js/Phone.js"></script>
    <script src="~/js/personaldata.js"></script>
    <script src="~/js/CandidateStep.js"></script>
}