<div class="form-group">
    <label for="Level">Level</label>
    <select ng-model="$ctrl.skill.Level" class="form-control">
        <option ng-repeat="level in $ctrl.levels" value="{{level.value}}">{{level.name}}</option>
    </select>
</div>
<div class="form-group">
    <label for="Name">Skill</label>
    <div class="input-group">
        <input type="text" id="Name" name="Name" ng-model="$ctrl.skill.Name" class="form-control" ng-required="true" />
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.add();">add</button>
        </span>
    </div>
</div>

<table class="table table-responsive table-hover table-striped">
    <thead>
        <tr><th>Skill</th><th>Level</th></tr>
    </thead>
    <tbody>
        <tr ng-repeat="skill in $ctrl.candidate.Skills">
            <td>
                {{skill.Name}}
            </td>
            <td>
                {{skill.LevelName}}
            </td>
        </tr>
    </tbody>
</table>